.container {
  display: grid;
  grid-template-columns: 1fr 11fr;
  margin-top: 2rem;
  padding: 1rem 2rem 1rem 2rem;
}
.logo {
 height: 60px;
  padding-left: 3rem;
  padding-right: 0.5rem;
}
.header {
  font-size: 44px;
  font-weight: 700;
  color: #494949;
  font-family: serif;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
}
.filters-heading {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}

.dropdown {
padding-top: 2rem;
display: flex;
}
.select_btn{
    margin-left: 1rem;
}
.filters{
  display: flex;
  border: 1px solid #c4c4c4;
  width: 100%;
  margin-top:1rem

  
}
.shuffle_icon{
height: 50px;
width: 50px;
}
.generate_quotes{
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.text{
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  padding-left: 1rem;
}
.author_quotes{
padding-right: 6rem;

}
.main_grid{
padding-right: 6rem;
column-count: 3;
column-gap: 50px;

}
.card-container{
  margin-bottom: 30px;
  box-shadow: 5px 10px 18px #888888;
  
}
.box{
  border:  5px solid #c4c4c4;
  margin-right: 6rem;
  padding: 2rem;
  padding: 10px;
  border: 1px solid  #c4c4c4;
  box-shadow: 5px 10px 18px #888888;
}
.btn{
  padding: 0.5rem;
  width: 20%;
  background-color: #4cd084;
  color: #ffff;
  margin-top: 2rem;
  outline: none;
}
.limit-style{
 padding: 0.7rem;
 border:  1px solid #c4c4c4;
 outline: none;
}
.submit-btn-container{
  display: flex;
    justify-content: flex-end;
}
